<div class="registration-container d-flex justify-content-center">
  <mat-card class="registration-card">
    <mat-card-content class="registration-card-content">

      <div class="row register-main-content">
        <div class="banner">
        </div>
        <div class="registration-form-content">
          <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="registerUser()">
            <div class="col form-section">

              <div>
                <mat-form-field class="form-field">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="E mail">
                  <mat-hint
                    *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.touched">
                    E-mail can't be null and shoulde be abc@def.xyz format
                  </mat-hint>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="form-field">
                  <mat-label>First Name</mat-label>
                  <input type="text" class="input-field" matInput formControlName="firstName" placeholder="First Name">
                  <mat-hint
                    *ngIf="registrationForm.controls.firstName.invalid && registrationForm.controls.firstName.touched">
                    First Name can't be null (1-30 letters)
                  </mat-hint>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="form-field">
                  <mat-label>Last Name</mat-label>
                  <input type="text" matInput formControlName="lastName" placeholder="Last Name">
                  <mat-hint
                    *ngIf="registrationForm.controls.lastName.invalid && registrationForm.controls.lastName.touched">
                    Last Name can't be null (1-30 letters)
                  </mat-hint>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="form-field">
                  <mat-label>User Name</mat-label>
                  <input type="text" matInput formControlName="userName" placeholder="User Name">
                  <mat-hint
                    *ngIf="registrationForm.controls.userName.invalid && registrationForm.controls.userName.touched">
                    User Name can't be null (1-30 characters)
                  </mat-hint>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="form-field">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password" placeholder="Password">
                  <mat-hint
                    *ngIf="registrationForm.controls.password.invalid && registrationForm.controls.password.touched">
                    Password must be 8 - 30 characters and should contain atleast 1 letter 1 number and a special
                    character
                  </mat-hint>
                </mat-form-field>
              </div>

              <div
                [ngClass]="{'padding-box': registrationForm.controls.password.invalid && (registrationForm.controls.password.touched)}">
              </div>

              <div>

                <mat-form-field class="form-field">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirm Password">
                  <mat-hint
                    *ngIf="registrationForm.controls.password.value  !== registrationForm.controls.passwordConfirm.value && registrationForm.controls.passwordConfirm.touched">
                    Password didn't match
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="d-flex justify-content-center">
                <button class="register-button" mat-stroked-button>Register</button>
              </div>

              <div class="login-anchor d-flex justify-content-center">
                <a routerLink="/login">Already have an account? Login here...</a>
              </div>

            </div>
          </form>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>